.quote {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 0.849);
    font-weight: 600;
  }
  .author {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 240px;
    color: rgba(255, 255, 255, 0.849);
  }
  .right-box::before {
    content: "“";
    font-size: 200px;
    color: rgba(255, 255, 255, 0.849);
    position: absolute;
    top: -10px;
    left: 5%;
    font-family: serif;
  }
  .right-box {
    background-color: #e30613;
    padding: 80px;
    color: rgba(255, 255, 255, 0.849);
    position: relative;
    width: 46%;
  }
  .right-box::after {
    content: "”";
    font-size: 200px;
    color: rgba(255, 255, 255, 0.849);
    position: absolute;
    bottom: -70px;
    right: 10%;
    font-family: serif;
  }  