<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu and card image</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="menucardimg.component.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="d-flex flex-column ps-5" id="meit">
            <ul class="list-group d-none d-lg-block">
                <li class="list-group-item">
                    <h3 class="fw-bolder"
                        style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 21px; line-height: 35px; letter-spacing: 2px;">
                        PRODUCT <br> CATEGORIES
                    </h3>
                </li>
                <li class="list-group-item"><a href="" style="border-bottom: 3px solid black;">TELEVISIONS</a></li>
                <li class="list-group-item"><a href="">AIR CONDITIONERS</a></li>
                <li class="list-group-item"><a href="">WASHING MACHINES</a></li>
                <li class="list-group-item"><a href="">REFRIGERATORS</a></li>
                <li class="list-group-item"><a href="">MICROWAVE OVENS</a></li>
                <li class="list-group-item"><a href="">DISH WASHERS</a></li>
                <li class="list-group-item"><a href="">AIR COOLERS</a></li>
            </ul>
        </nav>
        <!--IMAGR CADR WITH CONTENT-->
        <div class="container me-5" id="ccaa">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12  d-flex justify-content-center ps-5 text-white">
                    <div class="card border-0" style="width:450px; overflow: hidden; position: relative;">
                        <a href=""><img class="card-img-top animated-image"  src="../../assets/tv.png" alt="Card image"
                                style="width:75%"></a>
                        <div class="card-body animated-text">
                            <div class="tee">
                            <h4 class="card-title mt-3"
                                style="font-weight:bolder; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; letter-spacing: 3px; font-size: 28px;">
                                TELEVISIONS</h4>
                            <p class="card-text p-2"
                                style="font-weight: 400; width: 100%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; opacity: 0.5; font-size: 19px;">
                                Onida has a wide range of Televisions designed to suit your every requirement. Onida
                                Televisions ensure
                                that your TV watching experience is taken to the next level, with the help of its
                                innovative features.
                                Being one of the leading TV brands in India, Onida offers elegant solutions to create a
                                rich experience
                                of picture and sound.</p>
                            <a href="#" class="btn btn-danger" id="btn-btn"
                                style="border-radius: 50px; padding: 11px; width: 180px;font-weight: 500; height: 50px;">KNOW MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container me-5" id="ccaaa">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 ps-5 text-white">
                    <div class="card border-0" style="width:450px; overflow: hidden; position: relative;">
                        <a href=""><img class="card-img-top animated-image" src="../../assets/ac_01.png"
                                alt="Card image" style="width:100%"></a>
                        <div class="card-body animated-text">
                            <h4 class="card-title mt-5"
                                style="font-weight: bolder; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; letter-spacing: 3px; font-size: 28px;">
                                AIR
                                CONDITIONERS</h4>
                            <p class="card-text p-2"
                                style="font-weight: 400; width: 100%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; opacity: 0.5; font-size: 19px;">
                                Onida introduces Air Conditioners that are continuously innovated for powerful &
                                efficient performance..
                                In country like India, where temperatures sores up to 45®C , Onida have created Inverter
                                ACs which cools
                                like a champ even at an extreme temperature of 52®C. This is possible due to the PET
                                ENGINE technology
                                incorporated in all the inverter ACs</p>
                            <a href="#" class="btn btn-danger" id="btn-btn"
                                style="border-radius: 50px; padding: 11px; width: 180px;font-weight: 500; height: 50px;">KNOW MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container me-5" id="cccaaa">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12 d-flex justify-content-center ps-5 text-white" id="wash">
                    <div class="card border-0" style="width:450px; overflow: hidden; position: relative;">
                        <a href=""><img class="card-img-top animated-image" id="wasss" src="../../assets/washing_machine (1).png"
                                alt="Card image" style="width:70%"></a>
                        <div class="card-body animated-text">
                            <h4 class="card-title mt-5"
                                style="font-weight: bolder; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;letter-spacing: 3px; font-size: 28px;">
                                WASHING
                                MACHINE</h4>
                            <p class="card-text p-2"
                                style="font-weight: 400; width: 100%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; opacity: 0.5; font-size: 19px;">
                                Onida presents one stop solution for all your washing needs and to give you a perfect
                                washing
                                experience. Onida’s washing machines are designed to last for years with its anti-rust
                                fiber body.</p>
                            <a href="#" class="btn btn-danger" id="btn-btn"
                                style="border-radius: 50px; padding: 11px; width: 180px;font-weight: 500; height: 50px;">KNOW MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container me-5" id="ccaaa">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 ps-5 text-white">
                    <div class="card border-0" style="width:450px; overflow: hidden; position: relative;">
                        <a href=""><img class="card-img-top animated-image" src="../../assets/ref.jpg" alt="Card image"
                                style="width:100%"></a>
                        <div class="card-body animated-text">
                            <h4 class="card-title mt-5"
                                style="font-weight: bolder; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; letter-spacing: 3px; font-size: 28px;">
                                REFRIGETORS</h4>
                            <p class="card-text p-2"
                                style="font-weight: 400; width: 100%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; opacity: 0.5; font-size: 19px;">
                                Instachill refrigerators are a great addition and we have emphasized a lot on its Fast
                                Cooling
                                technology which will not only cool faster but also keep your food fresh and preserve it
                                for a longer
                                period of time. The refrigerators are skillfully designed with a floral glossy glass
                                finish adding that
                                missing style quotient to your home.</p>
                            <a href="#" class="btn btn-danger" id="btn-btn"
                                style="border-radius: 50px; padding: 11px; width: 180px;font-weight: 500; height: 50px;">KNOW MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container me-5" id="cccaaa">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12 d-flex justify-content-center ps-5 text-white" id="wash">
                    <div class="card border-0" style="width:450px; overflow: hidden; position: relative;">
                        <a href=""><img class="card-img-top animated-image" id="oveee" src="../../assets/oven (1).png"
                                alt="Card image" style="width:100%"></a>
                        <div class="card-body animated-text">
                            <h4 class="card-title mt-5"
                                style="font-weight: bolder; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; letter-spacing: 3px; font-size: 28px;">
                                MICROWAVE
                                OVENS</h4>
                            <p class="card-text p-2"
                                style="font-weight: 400; width: 100%; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; opacity: 0.5; font-size: 19px;">
                                Onida introduces Microwaves that allow you to become an expert chef at home! Microwave
                                ovens, today,
                                form an integral part of kitchen appliances. The increasing propensity of consumers to
                                spend on
                                appliances which assist them in kitchen chores has generated an increasing demand for
                                microwave ovens.</p>
                            <a href="#" class="btn btn-danger" id="btn-btn"
                                style="border-radius: 50px; padding: 11px; width: 180px;font-weight: 500; height: 50px;">KNOW MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container me-5" id="ccaaa">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 ps-5 text-white">
                    <div class="card border-0" style="width:450px; overflow: hidden; position: relative;">
                        <a href=""><img class="card-img-top animated-image" id="dishhh" src="../../assets/dish-washer.png"
                                alt="Card image" style="width:100%"></a>
                        <div class="card-body animated-text">
                            <h4 class="card-title mt-5"
                                style="font-weight: bolder; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; letter-spacing: 3px; font-size: 28px;">
                                DISHWASHERS</h4>
                            <p class="card-text p-2"
                                style="font-weight: 400; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; opacity: 0.5; font-size: 19px;">
                                With futuristic thinking comes futuristic innovations. Introducing Dishwashers,
                                especially designed for
                                Indian Kitchens with 14PC (Place) and 12PC (Place) capacity. Easy to use, economical,
                                time saving and
                                designed to clean dishes keeping in mind how extravagant our Indian Cuisine can be.</p>
                            <a href="#" class="btn btn-danger" id="btn-btn"
                                style="border-radius: 50px; padding: 11px; width: 180px;font-weight: 500; height: 50px;">KNOW MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container me-5" id="cccaaa">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12 d-flex justify-content-center ps-5 text-white" id="wash">
                    <div class="card border-0" style="width:450px; overflow: hidden; position: relative;">
                        <a href=""><img class="card-img-top animated-image" src="../../assets/air-coolers.png"
                                alt="Card image" style="width:100%"></a>
                        <div class="card-body animated-text">
                            <h4 class="card-title mt-5"
                                style="font-weight: bolder; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; letter-spacing: 3px; font-size: 28px;">
                                AIR
                                COOLERS</h4>
                            <p class="card-text p-2"
                                style="font-weight: 400; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; opacity: 0.5; font-size: 19px;">
                                With summers getting unbearable year after year, we have stayed true to our core, in a
                                desire to serve
                                Indian masses especially in hinterland, launching Air Coolers as a Made in India brand
                                to keep your warm
                                and unbearable summers cool.</p>
                            <a href="#" class="btn btn-danger" id="btn-btn"
                                style="border-radius: 50px; padding: 11px; width: 180px;font-weight: 500; height: 50px;">KNOW MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    <!--Number with Text box-->
    <div class="container testimonials-section" style="margin-top: 120px;">
        <div class="row w-100" style="height: 650px;">
            <div class="col-md-6 col-lg-6 col-sm-3 col-3 d-flex flex-column align-items-center justify-content-center left-box">
                <ul class="p-3" id="redbox">
                    <li class="active p-2"><a href="">01</a></li>
                    <li class="p-2"><a href="">02</a></li>
                    <li class="p-2"><a href="">03</a></li>
                    <li class="p-2"><a href="">04</a></li>
                </ul>
                <button class="btn btn-lg btn-danger p-3" id="btn-btn"
                    style="border-radius: 50px; width: 200px;font-weight: 500;">View More</button>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-9 col-9 right-box">
                <h4 class="text-uppercase fw-bolder text-center" style="letter-spacing: 3px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Testimonials</h4>
                <p class="quote mt-5">
                    Everything about the UIC series is amazing. You can blindly choose this 4KTV. The TV is very
                    responsive, fast
                    & the display is simply great. Remote buttons are tactile and of premium quality. No wifi
                    connectivity issues
                    at all. Audio clarity is great too. We use 15 to 20% volume out of 100 & it is still loud.
                </p>
                <p class="author">- Arun Kumar, Hyderabad</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>